.grid {
    margin-top: 30px;
    width: 396px;
    height: 396px;
    border: solid white 8px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    border: 0.5px solid white;    
    width: 20px;
    height: 20px;

}



body{

    background-color:pink;
    display: flex;
    justify-content: center;
}